html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #a4ee2c;
}

.container {
    width: 40%;
    margin: 40px auto;
}

div.gallery {
    margin-top: 30px;
}

div.gallery ul {
    list-style: none;
    margin-left: 35px;
}

div.gallery ul li,
div.gallery li  img {
    transition: all 0.2s ease-in-out;
}

div.gallery ul li {
    position: relative;
    float: left;
    width: 130px;
    height: 130px;
    margin: 5px;
    padding: 5px;
    z-index: 0;
}

div.gallery ul li:hover {
    z-index: 5;
}

div.gallery ul li img {
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #dddddd;
    padding: 5px;
    width: 130px;
    height: 130px;
    background: #f0f0f0;
}

div.gallery ul li img:hover {
    width: 200px;
    height: 200px;
    margin-top: -130px;
    margin-left: -130px;
    top: 65%;
    left: 65%;
}

@media (max-width: 1400px) {
    .container {
        width: 500px;
    }
    div.gallery ul {
        list-style-type: none;
        margin: 0;
    }
}

